<% photos.forEach(function (photo) { %>
<div class="col-md-4">
  <img src="<%= photo.src %>" width="110" height="95" alt="<%= photo.name %>" data-img="{&quot;id&quot;: &quot;<%= photo.id %>&quot;}" />
  <span class="delete-icon" title="删除该相片">×</span>
  <div class="pull-right photo-info">
    <div>名称：<%= photo.name %></div>
    <div>拍摄日期：<%= photo.shootTime %></div>
  </div>
</div>
<% }); %>
